<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
  <param-name>hz</param-name>
  <param-value>HuseynovZulfuqarr620</param-value>
  </context-param>
  <context-param>
  <param-name>ee</param-name>
  <param-value>Eshqin eliyev</param-value>
  </context-param>
  <servlet>
  <servlet-name>ServletContext</servlet-name>
  <servlet-class>contextServlet.ServletContext</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ServletContext</servlet-name>
  <url-pattern>/ServletContext</url-pattern>
  
  </servlet-mapping>
  
  <servlet>
  <servlet-name>FirstServlet</servlet-name>
  <servlet-class>helloServlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FirstServlet</servlet-name>
  <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ConfigServlet</servlet-name>
  <servlet-class>servletConfig.ServletConfig</servlet-class>
 
  <init-param>
  <param-name>hsyzul</param-name>
  <param-value>Huseynov Zulfuqar</param-value>
  
  </init-param>
   </servlet>
   <servlet-mapping>
  <servlet-name>ConfigServlet</servlet-name>
  <url-pattern>/config</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
</web-app>